.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.canvas{
    width: 500px;
    height: 700px;
    background-color: blanchedalmond;
    position: relative;
}
#star{
    position: absolute;
    z-index: 1;
}